body {
    background-color: #448eff;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

#frame {
    display: grid;
    align-items: center;
    height: 100vh;
}

canvas {
   display: inline;
   width: 1024px;
   height: 512px;
   background:#010012;
   margin: 32px auto;
   border: 2px ridge #ffddaa;
   border-radius: 5px;
}
